.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - var(--pageStartOffset) - 10vh);
	background: url(../assets/images/lemons.jpg) no-repeat center center;
	background-size: cover;
	position: relative;
	padding: 20px;
}

.hero h2 {
	letter-spacing: 0.4em;
	text-shadow: 0 0 0.1em #fff, 0.1em 0.1em 2em #777;
	transform: scaleY(1.3) translateY(-10px);
	text-align: center;
	overflow: visible;
}

.hero p {
	text-align: center;
	margin-top: 5px;
	font-weight: 100;
}

.hero::after {
	content: url(../assets/images/seta_preta.png);
	position: absolute;
	bottom: 20px;
	animation: heroArrow 3s infinite linear;
}

@keyframes heroArrow {
	0% {
		transform: translateY(0) rotateX(0) rotate(0);
		opacity: 0.8;
		filter: drop-shadow(1px 1px 2px #333);
	}
	7% {
		transform: translateY(-10px) rotateX(5deg) rotate(5deg) rotateY(0);
	}
	25% {
		opacity: 0.2;
	}
	40% {
		transform: translateY(-50px) rotateX(300deg) rotate(0) rotateY(90deg) scale(1.15);
		opacity: 0.6;
		filter: drop-shadow(8px 45px 15px #777);
	}
	45% {
		transform: translateY(-50px) rotateX(360deg) rotate(0deg) rotateY(100deg) scale(1.15);
		opacity: 0.6;
		filter: drop-shadow(8px 50px 15px #777);
	}
	70% {
		transform: translateY(0px) rotateX(360deg) rotate(2deg) rotateY(180deg);
		filter: drop-shadow(1px 1px 2px #333);
	}
	100% {
		transform: translateY(0px) rotateX(360deg) rotate(0) rotateY(180deg);
		opacity: 1;
		filter: drop-shadow(1px 1px 2px #333);
	}
}

.alternatingSides > div {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: minmax(calc(1.2 * (100vh - var(--pageStartOffset)) / 2), auto);
	grid-template-areas: "text img";
	align-items: center;
	position: relative;
}

.alternatingSides > div:nth-child(odd) {
	background-color: var(--offWhiteColor);
}

.alternatingSides > div:nth-child(even) {
	grid-template-areas: "img text";
	position: relative;
	/* filter: invert(); */
}

.alternatingSides > div:nth-child(even)::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	/* backdrop-filter: invert(); */
	pointer-events: none;
	z-index: 1;
}

.alternatingSides > div:nth-child(even)::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--offWhiteColor);
	/* filter: brightness(0.9); */
	z-index: -1;
}

/* .alternatingSides .alternatingImg img {
	border-radius: 50% 0 50% 0;
} */

.alternatingSides {
	--imgBorders: min(70%, 200px);
	--bEnds: 1;

	--bOdd1: 0;
	--bOdd2: 1;
	--bOdd3: 0;
	--bOdd4: 1;

	--bEven1: 0;
	--bEven2: 1;
	--bEven3: 0;
	--bEven4: 1;
}

.alternatingSides > div:nth-child(odd) .alternatingImg img {
	border-radius: calc(var(--imgBorders) * var(--bOdd1)) calc(var(--imgBorders) * var(--bOdd2)) calc(var(--imgBorders) * var(--bOdd3)) calc(var(--imgBorders) * var(--bOdd4));
}

.alternatingSides > div:nth-child(even) .alternatingImg img {
	border-radius: calc(var(--imgBorders) * var(--bEven1)) calc(var(--imgBorders) * var(--bEven2)) calc(var(--imgBorders) * var(--bEven3)) calc(var(--imgBorders) * var(--bEven4));
}

.alternatingSides > div:nth-child(1) .alternatingImg img {
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: calc(var(--imgBorders) * var(--bEnds));
}

.alternatingSides > div:nth-last-child(1):nth-child(odd) .alternatingImg img {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	border-top-left-radius: calc(var(--imgBorders) * var(--bEnds));
}

.alternatingSides > div:nth-last-child(1):nth-child(even) .alternatingImg img {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: calc(var(--imgBorders) * var(--bEnds));
}

.alternatingSides .alternatingImg {
	grid-area: img;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 2;
}

.alternatingSides .alternatingText {
	grid-area: text;
	display: flex;
	flex-direction: column;
	gap: 30px;
	padding: 30px 0;
}

.alternatingSides .alternatingText > * {
	padding: 0px 20%;
}

.alternatingSides .alternatingText a {
	font-weight: 100;
	/* color: var(--accentColor); */
}

.alternatingSides .alternatingText > h3 {
	font-size: 2em;
}

.sidebyside {
	/* display: grid;
	grid-template-columns: 1fr 1fr; */
	display: flex;
	flex-wrap: wrap;
}

.sidebyside > div {
	min-width: min(max(calc((100% / var(--sideBySideMaxRows)) - 1%), calc(600px / var(--sideBySideMaxRows))), 100%);
	flex: 1;
}

.sidebyside > div:nth-child(4n-3) {
	background-color: var(--babyBlueColor);
}
.sidebyside > div:nth-child(4n-2) {
	background-color: var(--babyPinkColor);
}
.sidebyside > div:nth-child(4n-1) {
	background-color: var(--babyGreenColor);
}
.sidebyside > div:nth-child(4n) {
	background-color: var(--babyPurpleColor);
}

.centeredContent {
	display: flex;
	flex-direction: column;
	padding: 50px 0;
	gap: 20px;
	align-items: center;
	text-align: center;
}

.centeredContent > * {
	padding: 0 20%;
	width: 100%;
}

.centeredContent .imageDiv {
	height: 200px;
}

.fullImgBlocks .imageDiv {
	max-height: 40vh;
}

.sectionTitle {
	width: 100vw;
	text-align: center;
	padding: 30px 10%;
	color: var(--offWhiteColor);
	background-color: var(--accentColor);
	letter-spacing: 2px;
}

.imageDiv {
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}

.imageDiv > .imageTitle::before {
	/* content: ""; */
	position: absolute;
	background-color: #fff;
	width: 100%;
	height: 100%;
	z-index: -1;
	top: 0;
	left: 0;
	/* filter: blur(40px); */
}

.imageDiv > .imageTitle {
	overflow: visible;
	position: absolute;
	text-align: center;
	margin: 15%;
	padding: 0.8em 1.2em;
	display: flex;
	flex-direction: column;
	gap: 5px;
	z-index: 0;
	/* background-color: rgba(255, 255, 255, 0.3); */
	text-shadow: var(--dropShadowColor) 0px 0px 2px;
	--dropShadowSize: 5px;
	--dropShadowColor: var(--offWhiteColor);
	filter: drop-shadow(var(--dropShadowColor) calc(-1 * var(--dropShadowSize)) 0px var(--dropShadowSize)) drop-shadow(var(--dropShadowColor) 0px calc(-1 * var(--dropShadowSize)) var(--dropShadowSize)) drop-shadow(var(--dropShadowColor) var(--dropShadowSize) 0px var(--dropShadowSize)) drop-shadow(var(--dropShadowColor) 0px var(--dropShadowSize) var(--dropShadowSize));
	/* backdrop-filter: blur(2px); */
	border-radius: 25px;
}

.imageDiv > .imageTitle > * {
	font-weight: 400;
}

.imageDiv:hover a,
.imageDiv:hover a * {
	/* color: var(--accentColor); */
	/* font-weight: 900; */
	--dropShadowColor: rgba(255, 255, 255, 0.2);
	/* --dropShadowColor: none; */
	background-color: var(--babyGreenColor);
}
